.header {
  height: 71.45px;
}

.footer {
  height: 105.6px;
}

.page-container {
  transition: 0.3s ease-out;
  min-height: calc(100vh - 177px);
}

.c-card {
  min-width: 300px;
}

.c-card-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.hover-grow {
  scale: 1;
  transition: 0.1s;
}

.hover-grow:hover {
  transform: scale(1.08);
}

.item-container {
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
  transition: 0.1s ease-out;
}

.t-bold {
  font-weight: bold;
}

.c-btn {
  border: 0px;
  border-radius: 3px;
  padding: 6px;
  font-size: 0.92rem;
  font-family: Helvetica, sans-serif;
}

.t-blue-l {
  font-family: Helvetica, monospace;
  font-size: 14px;
}

p {
  font-family: Helvetica, sans-serif, monospace;
}

.l-text {
  font-family: Helvetica, sans-serif;
}

.t-sm {
  font-size: 12px;
}

.t-md {
  font-size: 14px;
}

.t-lg {
  font-size: 20px;
}

.t-xl {
  font-size: 30px;
}

.icon-t,
.no-selectable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$white-s: rgb(243, 243, 243);

.delete-row {
  background: rgb(109, 51, 51);
  color: $white-s;
  transition: 0.64s;
  opacity: 0;
  height: 0px;
}

.row {
  transition: 0.64s;
  opacity: 1;
}

.delete-row:focus-within {
  opacity: 1;
  .btn-delete-row {
    opacity: 1;
  }
}

.btn-delete-row {
  opacity: 0;
  outline: none;
  border: none;
  background: rgb(109, 51, 51);
  transition: 0.64s;
}

.btn-delete-row:hover {
  background: rgb(158, 54, 54);
  outline: none;
}

.btn-delete-row:focus {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  scale: 2;
}

.arrow-sort {
  scale: 1;
}

.arrow-sort:hover {
  scale: 2;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(58, 58, 58); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(39, 76, 124); /* color of the scroll thumb */
}

body.dark {
  //colors-r
  $white-s: rgb(243, 243, 243);
  $blue-accent: rgb(44, 77, 122);
  $blue-light: rgb(148, 177, 224);
  $bg-secondary: $blue-accent;

  $t-table-color: $white-s;
  $table-row: rgb(90, 90, 90);
  $table-even-row: rgb(70, 72, 75);
  $table-icons: $white-s;

  $bg-item-container: #353434;
  $bg-black: rgb(32, 32, 32);
  $bg-page-container: rgb(73, 75, 78);

  $t-primary-color: $white-s;
  $c-btn-d: rgb(107, 107, 107);

  .t-primary {
    color: $t-primary-color;
  }

  .secondary-bg {
    background: $bg-secondary;
    color: $white-s;
  }

  .page-container {
    background-color: $bg-page-container;
  }

  .header,
  .footer {
    background-color: $bg-black;
    color: $t-primary-color;
  }

  .iconC {
    color: $white-s !important;
  }

  .card-title {
    color: $t-primary-color;
  }

  .bg-container {
    background: $bg-item-container;
    color: $t-primary-color;
  }

  .item-container {
    background-color: $bg-item-container;
  }

  .c-btn {
    background-color: $bg-secondary;
    color: $white-s;
  }

  .c-btn:hover {
    background-color: $bg-secondary * 0.9;
  }

  .c-btn:disabled {
    background-color: $c-btn-d;
  }

  .bg-gray {
    background-color: $table-even-row;
  }

  .bg-blue-a {
    background-color: $blue-accent;
    background: $blue-accent;
  }

  .t-blue-l {
    color: $blue-light;
  }

  .l-text {
    color: $t-primary-color;
  }

  .btn-link {
    color: $table-icons;
  }

  th {
    background-color: $blue-accent;
  }

  table {
    tr:not(.delete-row) {
      background-color: $table-row;
    }
    tr:nth-child(even):not(.delete-row) {
      background-color: $table-even-row;
    }
    .table-data {
      color: $t-table-color;
      font-family: Helvetica, sans-serif;
    }
    .table-data-header {
      color: $t-table-color;
      font-family: Helvetica, sans-serif;
    }
    .btn-link {
      color: $t-table-color;
    }
    .btn-link:hover {
      color: $blue-light;
    }
  }

  .MuiTable-root {
    tr {
      border-bottom: solid;
      border-color: $bg-item-container;
    }
    .MuiTableCell-body {
      padding: 0.4rem 1rem 0.4rem 2.4rem;
    }
    .MuiTableCell-head {
      padding: 1rem 1rem 1rem 2.4rem;
    }
  }

  .MuiTablePagination-root {
    width: 100%;
    p {
      color: $t-table-color;
    }
  }

  .MuiTablePagination-selectRoot {
    .MuiInputBase-input {
      color: $t-table-color;
    }
  }

  .btn-delete-row {
    color: $white-s;
  }
}

//// Body L Theme
body {
  //colors-r
  $black: rgb(0, 0, 0);
  $white-s: rgb(243, 243, 243);
  $blue-accent: rgb(59, 88, 128);
  $blue-light: rgb(84, 137, 223);
  $bg-secondary: rgb(207, 221, 245);

  $t-table-color: $black;
  $table-row: rgb(255, 255, 255);
  $table-even-row: rgb(240, 246, 255);
  $table-icons: $white-s;

  $bg-item-container: rgb(243, 243, 243);
  $bg-black: $blue-accent;
  $bg-page-container: rgb(211, 211, 211);

  $t-primary-color: $black;
  $c-btn-d: rgb(107, 107, 107);

  .t-primary {
    color: $t-primary-color;
  }

  .secondary-bg {
    background: $bg-secondary;
    color: $t-primary-color;
  }

  .page-container {
    background-color: $bg-page-container;
  }

  .header,
  .footer {
    background-color: $bg-black;
    color: $white-s;
  }

  .iconC {
    color: $white-s !important;
  }

  .card-title {
    color: $t-primary-color;
  }

  .bg-container {
    background: $bg-item-container;
    color: $t-primary-color;
  }

  .item-container {
    background-color: $bg-item-container;
  }

  .c-btn {
    background-color: $bg-secondary;
    color: $black;
  }

  .c-btn:hover {
    background-color: $bg-secondary * 0.9;
  }

  .c-btn:disabled {
    background-color: $c-btn-d;
  }

  .bg-gray {
    background-color: $table-even-row;
  }

  .bg-blue-a {
    background-color: $blue-accent;
    background: $blue-accent;
  }

  .t-blue-l {
    color: $blue-light;
  }

  .l-text {
    color: $t-primary-color;
  }

  .btn-link {
    color: $table-icons;
  }

  th {
    background-color: $bg-secondary;
  }

  table {
    tr:not(.delete-row) {
      background-color: $table-row;
    }
    tr:nth-child(even):not(.delete-row) {
      background-color: $table-even-row;
    }
    .table-data {
      color: $t-table-color;
      font-family: Helvetica, sans-serif;
    }
    .table-data-header {
      color: $t-table-color;
      font-family: Helvetica, sans-serif;
    }
    .btn-link {
      color: $t-table-color;
    }
  }

  .MuiTable-root {
    tr {
      border-bottom: solid;
      border-color: $bg-item-container;
    }
    .MuiTableCell-body {
      padding: 0.4rem 1rem 0.4rem 2.4rem;
    }
    .MuiTableCell-head {
      padding: 1rem 1rem 1rem 2.4rem;
    }
  }

  .MuiTablePagination-root {
    width: 100%;
    p {
      color: $t-table-color;
    }
  }

  .MuiTablePagination-selectRoot {
    .MuiInputBase-input {
      color: $t-table-color;
    }
  }

  .btn-delete-row {
    color: $white-s;
  }
}
