/*

$blue-accent: rgb(63, 88, 124);
$table-row: rgb(98, 119, 146);
$table-even-row: rgb(70, 91, 116);

$l-text: rgb(235, 235, 235);
$t-blue-l: rgb(132, 164, 214);
$t-input: rgb(121, 163, 173);
$t-input-d: rgb(136, 136, 136);

$bg-item-container: #333131;
$bg-black: rgb(34, 34, 34);
$bg-page-container: rgb(82, 82, 82);

$table-icons: $l-text;
$c-btn-d: rgb(102, 102, 102);

*/

$blue-accent: rgb(44, 77, 122);
$table-row: rgb(92, 96, 100);
$table-even-row: rgb(70, 72, 75);

$l-text: rgb(224, 224, 224);
$t-blue-l: rgb(148, 177, 224);
$t-input: rgb(119, 158, 209);
$t-input-d: rgb(180, 180, 180);

$bg-item-container: #353434;
$bg-black: rgb(32, 32, 32);
$bg-page-container: rgb(73, 75, 78);

$table-icons: $l-text;
$c-btn-d: rgb(107, 107, 107);

.page-container {
  position: relative;
  background-color: $bg-page-container;
  min-height: 76vh;
}

.header {
  min-height: 11vh;
  background-color: $bg-black;
}

.footer {
  min-height: 13vh;
  background-color: $bg-black;
}

.t-bold {
  font-weight: bold;
}

.c-btn {
  background-color: $blue-accent;
  border: 0px;
  border-radius: 3px;
  padding: 6px;
  font-size: 0.92rem;
}

.c-btn:disabled {
  background-color: $c-btn-d;
}

.bg-gray {
  background-color: $table-even-row;
}

.bg-blue-a {
  background-color: $blue-accent;
  background: $blue-accent;
}

.t-blue-l {
  color: $t-blue-l;
  font-family: Helvetica, monospace;
  font-size: 14px;
}

p {
  font-family: Helvetica, sans-serif, monospace;
}

.l-text {
  color: $l-text;
  font-family: Helvetica, sans-serif;
}

.t-sm {
  font-size: 0.8rem;
}

.t-md {
  font-size: 1.1rem;
}

.t-lg {
  font-size: 1.5rem;
}

.t-xl {
  font-size: 2rem;
}

.btn-link {
  color: $table-icons;
}

th {
  background-color: $blue-accent;
}

table {
  tr {
    background-color: $table-row;
  }
  tr:nth-child(even) {
    background-color: $table-even-row;
  }
  .table-data {
    color: $l-text;
    font-family: Helvetica, sans-serif;
  }
  .table-data-header {
    color: $l-text;
    font-family: Helvetica, sans-serif;
  }
  .btn-link {
    color: $l-text;
  }
}

.item-container {
  background-color: $bg-item-container;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  color: $l-text;
}

.icon-t {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

//ScrollBar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-item-container;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-accent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue-accent * 1.6;
}

.MuiTable-root {
  tr{
    border-bottom: solid;
    border-color: $bg-item-container;
  }
  .MuiTableCell-body {
    padding: 0.4rem 1rem 0.4rem 2.4rem;
  }
  .MuiTableCell-head {
    padding: 1rem 1rem 1rem 2.4rem;
  }
}

.MuiTablePagination-root {
  width: 100%;
  p {
    color: $l-text;
  }
}

.MuiTablePagination-selectRoot {
  .MuiInputBase-input {
    color: $l-text;
  }
}

.MuiInputBase-root,
.MuiInput-root {
  input {
    color: $l-text;
  }
}

/// Custom Inputs
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0px;
  -webkit-box-shadow: 0 0 0 30px $bg-item-container inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $l-text !important;
}

.c-input {
  font-family: sans-serif, monospace;
  label {
    cursor: pointer;
    border-style: none;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 14px;
    transition: font-size 0.2s, top 0.3s, color 0.3s;
  }
  input {
    font-family: Helvetica;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 2px;
    color: $l-text;
    outline: none;
    border-width: 0px;
    background-image: "";
    background: transparent !important;
  }
  .c-input-line {
    position: absolute;
    background: $l-text;
    width: 100%;
    height: 1px;
    bottom: 2px;
    left: 0px;
    transition: top 0.3s, height 0.3s, background 0.3s;
  }
  color: $l-text;
}

.c-input:focus-within {
  .c-input-label {
    top: -10px;
    font-size: 12px;
    color: $t-input;
    border-style: none;
  }
  .c-input-line {
    background: $t-input;
  }
}

.c-input-input:disabled {
  ~ .c-input-label {
    cursor: default;
    top: -10px;
    font-size: 12px;
    color: $t-input-d;
    border-style: none;
  }
  ~ .c-input-line {
    border: dotted;
    border-bottom: 0px;
    border-width: 2px;
    border-color: $t-input-d;
    background: $bg-item-container;
  }
}

.c-input-input:not(:placeholder-shown):invalid {
  ~ .c-input-label {
    font-size: 14px;
    color: red;
  }
  ~ .c-input-line {
    background: rgb(255, 0, 0);
  }
}

.c-input-input:not(:placeholder-shown):valid {
  ~ .c-input-label {
    top: -10px;
    font-size: 12px;
    color: $t-input;
  }
  ~ .c-input-line {
    background: $t-blue-l;
  }
}

.c-input-error{
  position: absolute;
  top: 0px;
  left: 0px;
}