$text-size: 14px;
$error-text-size: 12px;

body.dark {
  $label-color: rgb(213, 218, 224);
  $label-color-selected: rgb(102, 102, 190);
  $label-color-filled: rgb(104, 118, 148);
  $text-color: rgb(236, 236, 236);

  input:-webkit-autofill {
    -webkit-text-fill-color: $text-color !important;
  }

  .c-input {
    .c-input-label {
      color: $label-color;
    }
    .c-input-input {
      color: $text-color;
    }
    .c-input-line {
      background: $label-color;
    }
  }

  .c-input-input:not(:placeholder-shown) {
    ~ .c-input-label {
      color: $label-color-filled;
    }
    ~ .c-input-line {
      background-color: $label-color-filled;
    }
  }

  .c-input:focus-within {
    .c-input-label {
      color: $label-color-selected;
    }
    .c-input-line {
      background-color: $label-color-selected;
    }
  }

  .c-input-input.error {
    ~ .c-input-label {
      color: red;
    }
    ~ .c-input-line {
      background-color: red;
    }
  }
}

body {
  $label-color: rgb(31, 36, 43);
  $label-color-selected: rgb(88, 147, 236);
  $label-color-filled: rgb(151, 159, 173);
  $text-color: rgb(46, 46, 46);

  input:-webkit-autofill {
    -webkit-text-fill-color: $text-color !important;
  }

  .c-input {
    .c-input-label {
      color: $label-color;
    }
    .c-input-input {
      color: $text-color;
    }
    .c-input-line {
      background: $label-color;
    }
  }

  .c-input-input:not(:placeholder-shown) {
    ~ .c-input-label {
      color: $label-color-filled;
    }
    ~ .c-input-line {
      background-color: $label-color-filled;
    }
  }

  .c-input:focus-within {
    .c-input-label {
      color: $label-color-selected;
    }
    .c-input-line {
      background-color: $label-color-selected;
    }
  }

  .c-input-input.error {
    ~ .c-input-label {
      color: red;
    }
    ~ .c-input-line {
      background-color: red;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0px;
  -webkit-box-shadow: 0 0 0 0px transparent !important;
}

.c-input {
  .c-input-label {
    position: relative;
    bottom: 2px;
    left: 0px;
    width: 100%;
    margin: 0;
    font-size: $text-size;
    transition: 0.12s ease-out;
    cursor: pointer;
  }
  .c-input-input {
    position: relative;
    bottom: -22px;
    left: 0px;
    width: 100%;
    outline: none;
    border: 0px;
    background: transparent !important;
    cursor: pointer;
  }
  .c-input-line {
    position: relative;
    bottom: 2px;
    left: 0px;
    width: 100%;
    padding: 1px;
  }
}

.c-input-input:not(:placeholder-shown) {
  ~ .c-input-label {
    font-size: 12px;
    transform: translateY(-24px);
    transition: 0.12s;
  }
}

.c-input:focus-within {
  .c-input-label {
    font-size: 12px;
    transform: translateY(-24px);
    transition: 0.12s;
  }
}

.c-input-input.error {
  ~ .c-input-label {
    color: red;
  }
  ~ .c-input-line {
    background-color: red;
  }
}

.c-input-error {
  font-size: $error-text-size;
}

.c-input-input:disabled {
  ~ .c-input-label {
    cursor: default;
    top: -10px;
    font-size: 12px;
    color: gray;
    border-style: none;
  }
  ~ .c-input-line {
    border: dotted;
    border-bottom: 0px;
    border-width: 2px;
    border-color: gray;
    background: transparent !important;
  }
}
